providers/adguardhome @ishanjain28
providers/akamaiedgedns @edglynes
providers/alidns @bytemain
providers/autodns @arnoschoon
providers/axfrddns @hnrgrgr
providers/azuredns @vatsalyagoel
providers/azureprivatedns @matthewmgamble
providers/bind @tlimoncelli
providers/bunnydns @ppmathis
providers/cloudflare @tresni
providers/cloudns @pragmaton
providers/cnr @KaiSchwarz-cnic
providers/cscglobal @mikenz
providers/desec @D3luxee
providers/digitalocean @chicks-net
providers/dnsimple @onlyhavecans
providers/dnsmadeeasy @vojtad
providers/doh @mikenz
providers/domainnameshop @SimenBai
providers/dynadot @e-im
providers/easyname @tresni
providers/exoscale @pierre-emmanuelJ
providers/fortigate @KlettIT
providers/gandiv5 @TomOnTime
providers/gcloud @riyadhalnur
providers/gcore @xddxdd
providers/hedns @rblenkinsopp
providers/hetzner @das7pad
providers/hetznerv2 @das7pad
providers/hexonet @KaiSchwarz-cnic
providers/hostingde @juliusrickert
providers/huaweicloud @huihuimoe
providers/internetbs @pragmaton
providers/inwx @patschi
providers/joker @atrull
providers/linode @koesie10
providers/loopia @systemcrash
providers/luadns @riku22
providers/mythicbeasts @tomfitzhenry
providers/namecheap @willpower232
# providers/namedotcom NEEDS VOLUNTEER
providers/netcup @kordianbruck
providers/netlify @SphericalKat
providers/ns1 @costasd
# providers/opensrs NEEDS VOLUNTEER
providers/oracle @kallsyms
providers/ovh @masterzen
providers/packetframe @hamptonmoore
providers/porkbun @imlonghao
providers/powerdns @jpbede
providers/realtimeregister @PJEilers
providers/route53 @tresni
providers/rwth @mistererwin
providers/sakuracloud @ttkzw
# providers/softlayer NEEDS VOLUNTEER
providers/transip @blackshadev
providers/vercel @SukkaW
providers/vultr @pgaskin
