/tmp
/commands/types/dnscontrol.d.ts
dnscontrol-Darwin
dnscontrol-Linux
dnscontrol.exe
dnscontrol
/dnsconfig.js
/creds.json
ExternalDNS
powershell.log
integrationTest/env.sh
integrationTest/.env
/integrationTest/zones/*.zone
/integrationTest/config/*.yaml
/integrationTest/.hedns-session
/pkg/js/parse_tests/*.ACTUAL
env.sh
certs/
spfcache*
adzonedump.*
/zones/
stack.sh
.idea/
*.nupkg
.DS_Store
.vscode/launch.json
.jekyll-cache
types-dnscontrol.d.ts

dist/
