* text=auto

# Git itself
.gitattributes eol=lf
.gitigore eol=lf

# dnscontrol files are unix line-endings:
*.js text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.zone text eol=lf
*.tsv text eol=lf

# shell scripts are unix line-endings:
*.sh text eol=lf

# Go code are unix line-endings:
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf
