/tmp
dnscontrol-Darwin
dnscontrol-Linux
dnscontrol.exe
dnscontrol
dnsconfig.js
creds.json
ExternalDNS
docs/_site
powershell.log
integrationTest/env.sh
integrationTest/.env
/integrationTest/zones/*.zone
/integrationTest/config/*.yaml
env.sh
certs/
spfcache*
adzonedump.*
/zones/
stack.sh
.idea/
*.nupkg
.DS_Store
