* text=auto

# Git itself
.gitattributes eol=lf
.gitigore eol=lf
OWNERS eol=lf

# dnscontrol files are unix line-endings:
*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.zone text eol=lf
*.tsv text eol=lf

# shell scripts are unix line-endings:
*.sh text eol=lf

# powershell scripts are DOS line-endings:
*.ps1 text eol=crlf
*.nuspec text eol=crlf

# Go code are unix line-endings:
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf

# Graphics are binary:
*.jpg binary
*.png
*.svg

pkg/cloudflare-go/.changelog text eol=crlf
