.expanded>.expand-arrow {
  display: none;
}

.expanded>.collapse-arrow {
  display: inherit;
}

.collapse-arrow {
  display: none;
}

body {
  padding-bottom: 50px;
}

.table-header-rotated {
  border-collapse: collapse;
}

.table-header-rotated td {
  width: 30px;
}

.table-header-rotated th {
  padding: 5px 10px;
}

.table-header-rotated td {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ccc;
}

.table-header-rotated th.rotate {
  height: 140px;
  white-space: nowrap;
}

.table-header-rotated th.rotate>div {
  -webkit-transform: translate(26px, 51px) rotate(315deg);
  -ms-transform: translate(26px, 51px) rotate(315deg);
  transform: translate(26px, 51px) rotate(315deg);
  width: 30px;
  position: relative;
  bottom: 1px;
}

.table-header-rotated th.rotate>div>span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.table-header-rotated th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  /* box-shadow since border-right doesn’t work */
  box-shadow: 0.5px 0 0 #ccc;
  background-color: white;
  position: sticky;
  left: 0;
  z-index: 1;
}
.table-header-rotated thead tr:first-child th.row-header {
  box-shadow: none;
}

.table-header-rotated th.row-header.rotate>div {
  position: relative;
  left: 43px;
  bottom: 27px;
}
.table-header-rotated th.row-header.rotate>div>span {
  display: inline-block;
  width: 190px;
  background-color: white;
  line-height: 90px;
}


.full-width {
  width: 100vw;
  max-width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 50%;
  right: 50%;
  position: relative;
  overflow-x: auto;
}

.success {
  background-color: #dff0d8;
}

.warning {
  background-color: #faf2cc;
}

.danger {
  background-color: #f2dede;
}

.info {
  background-color: #d9edf7;
}

.fa {
  font-size: 150%;
}

.has-tooltip:before {
  text-decoration: underline;
}

.dim {
  color: #eeeeee
}

.table-of-contents {
  width: 100%;
}

.table-of-contents td {
  vertical-align: top;
  width: 50%;
}
