name: release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Get release
      id: get_release
      uses: bruceadams/get-release@v1.2.3
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Checkout repo
      uses: actions/checkout@v2.3.5
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: Get release from tag
      run: echo ::set-output name=RELEASE_VERSION::$(echo ${GITHUB_REF:11})
      id: versioner

    - name: Check environment
      run: |
        .ci/check-environment.sh

    - name: Build everything
      run: |
        .ci/build.sh "${{ steps.versioner.outputs.RELEASE_VERSION }}"

    - name: Upload release assets
      uses: softprops/action-gh-release@v1
      with:
        files: |
          .ci/build/*.deb
          .ci/build/*.rpm
          .ci/build/*.txz
          .ci/build/*.zip
      env:
        GITHUB_TOKEN: ${{ github.token }}
